@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  line-height: 33px;
  letter-spacing: 1.1px;
  word-spacing: 8px;
}

@layer base {

  input {
    @apply px-4 py-2 bg-gray-50
  }

  .content-wrapper {
    @apply px-2 sm:px-4 md:px-10 lg:px-14
  }

  .icon-button {
    @apply h-10 w-10 grid place-content-center disabled:cursor-not-allowed rounded-md text-xl shadow-lg shadow-[#00000005]
  }

  button {
    @apply px-4 py-2 rounded-md font-semibold
  }


  *::-webkit-scrollbar {
    @apply w-0
  }
}

.ql-editor {
  padding: 0px !important;
}

.ql-container {
  font-family: unset !important;
}