@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 98%;
  --foreground: 260 98% 10%;

  --primary: 27 96% 61%;
  --primary-foreground: 0 0% 100%;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 98%;
    --foreground: 260 98% 10%;

    --primary: 27 96% 61%;
    --primary-foreground: 0, 0, 100%;
  }
}

* {
  line-height: 33px;
  letter-spacing: 1.1px;
  word-spacing: 8px;
}

@layer base {

  input {
    @apply px-4 py-2 bg-gray-50
  }

  .content-wrapper {
    @apply px-2 sm:px-4 md:px-10 lg:px-40
  }

  .blog-container img {
    @apply shadow-xl shadow-black/15 rounded-xl
  }

  .icon-button {
    @apply h-10 w-10 grid place-content-center disabled:cursor-not-allowed rounded-md text-xl shadow-lg shadow-[#00000005]
  }

  button {
    @apply px-4 py-2 rounded-md
  }


  *::-webkit-scrollbar {
    @apply w-0
  }
}

.ql-editor {
  padding: 0px !important;
}

.ql-container {
  font-family: unset !important;
}