.createpost-wrapper{
    width: 80%;
    margin: 80px auto;
}

.createpost-wrapper .input-item{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 20px;
}
.createpost-wrapper .input-item label{
    font-size: 1.5rem;
    font-weight: 600;
}
.createpost-wrapper .input-item input{
    height: 30px;
}


.ck.ck-editor__main>.ck-editor__editable{
    height: 200px;
    color: black;
}


.createpost-wrapper .input-item .con-card{
    display: grid;
}


.createpost-wrapper .input-item .create-content-label .delete-icon{
    border: 1px solid black;
    background-color: rgb(255, 13, 0);
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
.createpost-wrapper .create-post-button{
    padding-top: 40px;
    padding-bottom: 20px;
}
.createpost-wrapper .create-post-button .button:hover{
    color: rgb(255, 255, 255);
    background-color: green;
}